* {
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
}

html {
    background-color: #EB0F10;
}

body {
    display: flex;
    height: 100vh; 
    width: 100vw;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    color: #E8A65A;
}

button {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    padding: 0.5rem;
    outline: none;
    font-size: 1.2rem;
    color: #E8A65A;
    background-color: #FFFFFF;
}
    button:hover {
        opacity: 1.0;
    }

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 98vh;
    max-height: 98vh;
    max-width: 98vw;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

div.row, div.cell {
    background-color: #DEDDDC;
    border: 1px solid #FFFFFF;
}

div.row {
    display: flex;
    flex: 1 1 0;
}

div.cell {
    display: flex;
    flex: 1 1 auto;
}