* {
    box-sizing: border-box;
    font-family: 'Tilt Warp', cursive;
    font-weight: bold;
}

html {
    background-color: rgba(235, 15, 16, 1.0);
}

body {
    display: flex;
    height: 100vh; 
    width: 100vw;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    color: rgba(232, 166, 90, 1.0);
}

button {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    opacity: 0.8;
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    color: rgba(232, 166, 90, 1.0);
    background-color: rgba(255, 255, 255, 1.0);
}
    button:hover {
        opacity: 1.0;
    }

#wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 98vh;
    max-height: 98vh;
    max-width: 98vw;
}

#buttonsContainer {
    display: flex;
    flex-direction: row;
}

#gridContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    border: 20px solid rgba(255, 255, 255, 1.0);
}

div.row, div.cell {
    background-color: rgba(222, 221, 220, 1.0);
}

div.row {
    display: flex;
    flex: 1 1 0;
}

div.cell {
    display: flex;
    flex: 1 1 auto;
}

div.border {
    border: 1px solid rgba(255, 255, 255, 1.0);
}
